/* shared style */
.inter-font {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gray{
    color: #3A3A3A;
}

.display-flex {
    display: flex;
}

.btn-primary{
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 41px;
    border: none;
}

/* nav style */
.navbar{
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 80px;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}
.nav-title{
    font-weight: 700;
    font-size: 1.5rem;
}

/* banner style */
.banner{
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.banner-description{
    width: 500px;
}
.banner-tittle {
    font-weight: 700;
    font-size: 3.25rem;
    margin-bottom: 16px;
}
.banner-description{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 28px;
}
.banner-image{
    width: 100%;
    justify-content: center;
}
.banner-image img{
    width: 440px;
    height: 414px;
}

/* icon section start */
.icon{
    width: 1300px;
    margin: 0 auto;
    justify-content: space-between;  */
    border-bottom: 1px solid #3A3A3A;
    /* border-top: 1px solid rgba(192, 204, 218, 0.10); */
    border-top: 1px solid #3A3A3A;
    border-bottom: 1px solid #3A3A3A;
    /* padding: 30px 62px; */
    margin-top: 100px;
}
.icon img{
    height: 32px;
}
 .icon-items{
    gap: 95px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 5px;
 }
.icon-item{
    list-style: none;
}


/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links{
        flex-direction: column;
        align-items: center;
    }
    .nav-links{
        gap: 10px;
    }

    /* banner responsive part */
    .banner{
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-tittle{
    line-height: 50px;
        font-size: 2.4rem;
    }
    .banner-description{
        padding-left: calc(100%-40px);
        width: 100%;
    }
    .banner-image img{
        width: 257px;
        height: 257px;
    }
    /* icon responsive part */
    .icon{
        width: 400px;
        border-top: none;
        border-bottom: none;
        margin-top: 30px;
    }
    .icon-items{
        width: 400px;
        gap: 30px;
    }
    .icon img{
        height: 20px;
    }
}